.html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.back {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://api.wallpapers.ai/static/downloads/bf4ad7dd178c4ec98cf6d2b3618b5f6a/upscaled/000000_796762387_kdpmpp2m15_PS7.5_autumn_landscape_in_modern_style._digital_art_concept_art_[upscaled].jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.gitflex{
  display: flex;
  flex-direction: row;
  height: 250px;
  left: 18vh;
  top: 20vh;
  width: 250px;
  position: absolute;
  user-select: none;
  animation: grow 0.5s;
}

.git{
  width: 250px;
  height: 250px;
}

.linkflex{
  display: flex;
  flex-direction: row;
  height: 250px;
  left: 118vh;
  top: 20vh;
  width: 250px;
  position: absolute;
  user-select: none;
  animation: grow 0.5s;
}

.linked{
  width: 250px;
  height: 250px;
}
.resume{
  width: 250px;
  height: 250px;
  opacity: 0.8;
}

.resbox{
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 250px;
  top: 20vh;
  left: 67vh;
  position: absolute;
  user-select: none;
  animation: grow 0.5s;
}