.ProjPage {
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0; 
  }
  
  .ProjPage::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://api.wallpapers.ai/static/downloads/bf4ad7dd178c4ec98cf6d2b3618b5f6a/upscaled/000000_796762387_kdpmpp2m15_PS7.5_autumn_landscape_in_modern_style._digital_art_concept_art_[upscaled].jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
  }