.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: transparent;
    width: 100vw;
    position: absolute;
    user-select: none;
  }
  
  .welcome h1 {
    overflow: hidden;
    font-size: 6vh;
    user-select: none;
    color: rgb(89, 50, 50);
    font-family: "MC";
    animation: fadein 2.5s;
    font-weight: bold;
  }

  .fade {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
  }
  