
@font-face {
  font-family: "MC";   /*Can be any text*/
  src: local("MantiniaRegular"),
    url("./fonts/MantiniaRegular.otf") format("truetype");
}


.typewriter {
  display: flex;
  font-weight: bold;
  color:rgb(0, 174, 255);
  justify-content: center; 
  align-items: center;
  height: 90vh; 
  user-select: none;
}

.typewriter h1 {
  overflow:hidden;
  font-family: "MC";
  font-size: 3.5em;
  white-space: nowrap;
  animation: typing 2s steps(70, end);
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 13.25ch}
}