.flexbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 1s forwards;
}
.html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

.emailForm{
    display: flex;
    opacity: 0.5;
    flex-direction: column;
}

input, textarea{
    margin: 10px 0px;
    border: none;
    font-weight: bold;
    background-color: beige;
}