.entire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  user-select: none;
  width: 15vh;
  margin: 1vh;
  border-radius: 7.5vh;
  bottom: 12vh;
}

.entire img:active {
  opacity: 0.7;
  transform: scale(0.95);
}

.aboutIcon1 {
  width: 75px;
  z-index: 2;
  left: 30px;
  position: absolute;
  bottom: 38vh;
  animation: move1 1.5s forwards;
}

.aboutIcon2 {
  width: 75px;
  z-index: 2;
  left: 30px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  animation: back1 1.5s forwards;
}

@keyframes move1 {
  from {
    bottom: 0vh;
    opacity: 0;
  }
  to {
    bottom: 38vh;
    opacity: 1;
  }
}

@keyframes back1 {
  from {
    bottom: 38vh;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}


@keyframes move4 {
  from {
    bottom: 0vh;
    opacity: 0;
  }
  to {
    bottom: 29vh;
    opacity: 1;
  }
}

@keyframes back4 {
  from {
    bottom: 29vh;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.projects1 {
  width: 50px;
  z-index: 2;
  left: 43px;
  position: absolute;
  bottom: 29vh;
  opacity: 1;
  animation: move4 1.5s;
}

.projects2 {
  width: 50px;
  z-index: 2;
  left: 43px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  animation: back4 1.5s;
}

.em1 {
  width: 100px;
  z-index: 2;
  left: 17px;
  position: absolute;
  bottom: 16vh;
  opacity: 1;
  animation: move2 1.5s;
}

.em2 {
  width: 100px;
  z-index: 2;
  left: 17px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  animation: back2 1.5s;
}

@keyframes move2 {
  from {
    bottom: 0vh;
    opacity: 0;
  }
  to {
    bottom: 16vh;
    opacity: 1;
  }
}

@keyframes back2 {
  from {
    bottom: 16vh;
    opacity: 1;
  }
  to {
    bottom: 0vh;
    opacity: 0;
  }
}

.home1 {
  width: 50px;
  z-index: 2;
  position: absolute;
  opacity: 1;
  left: 40px;
  bottom: 8vh;
  animation: move3 1.5s;
}

@keyframes move3 {
  from {
    bottom: 0vh;
    opacity: 0;
  }
  to {
    bottom: 8vh;
    opacity: 1;
  }
}

.home2 {
  width: 50px;
  z-index: 2;
  left: 40px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  animation: back3 1.5s;
}

@keyframes back3 {
  from {
    bottom: 8vh;
    opacity: 1;
  }
  to {
    bottom: 0vh;
    opacity: 0;
  }
}
