
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://api.wallpapers.ai/static/downloads/98e970e6bfef4cb8936c6480cb57f481/upscaled/000000_490936417_kdpmpp2m15_PS7.5_elden_ring_landscape._digital_art_concept_art_[upscaled].jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
 
 
 
 .navGrace{
  width: 200px;
  position: absolute;
  z-index: 100;
  top: 89vh;
  left:145vh;
  background-repeat: no-repeat;
 }