html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.credit{
  font-family: "MC";
  position: fixed;
  color: white;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-size: 14px;;
}

@font-face {
  font-family: "MC";
  src: local("MantiniaRegular"),
    url("./fonts/MantiniaRegular.otf") format("truetype");
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("./images/yosemite.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  user-select: none;
}

.pageMain {
  position: relative;
  z-index: 1;
}

.bonfire:active {
  opacity: 0.8;
}

.bonfire {
  width: 250px;
  left: -7vh;
  top: 85vh;
  z-index: 100;
  user-select: none;
  position: relative;
}

@keyframes elongate {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 50%;
    opacity: 0.5;
  }
}

@keyframes shrink {
  from {
    height: 50%;
    opacity: 0.5;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.square {
  position: absolute;
  z-index: 2;
  width: 15vh;
  margin: 1vh;
  user-select: none;
  height: 45vh;
  border-radius: 7.5vh;
  bottom: 12vh;
}

.square.even-click{
  background-color: rosybrown;
  animation: shrink 2s forwards;
}

.square.odd-click {
  background-color: rosybrown;
  animation: elongate 1.3s forwards;
}

